<header>

  <div class="wrapper">

    <%= link_to I18n.t("header.home"), root_path %>

    <div class="float-right">

      <% if Current.user %>
          <%= link_to I18n.t("header.my_account"), account_detail_path %>
          <%= button_to I18n.t("header.sign_out"), Current.session, method: :delete %>
      <% else %>
          <%= link_to I18n.t("header.sign_in"), sign_in_path %>
          <%= link_to I18n.t("header.sign_up"), sign_up_path %>
      <% end %>

    </div>

    <% if notice %>
      <div class="notice" data-turbo-cache="false"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert" data-turbo-cache="false"><%= alert %></div>
    <% end %>

  </div>

</header>
