<header>

  <div class="wrapper">

    <%= link_to I18n.t("header.home"), home_path %>

    <div class="float-right">

      <% if user_signed_in? %>
          <%= link_to I18n.t("header.my_account"), edit_user_registration_path %>
          <%= link_to I18n.t("header.sign_out"), destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to I18n.t("header.sign_in"), new_user_session_path %>
          <%= link_to I18n.t("header.sign_up"), new_user_registration_path %>
      <% end %>

    </div>

    <% if notice %>
      <div class="notice" data-turbo-cache="false"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert" data-turbo-cache="false"><%= alert %></div>
    <% end %>

  </div>

</header>
