<% if pagination.exists? %>
    <div class="pagination">

    <% if pagination.previous_page? %>
        <%= link_to '<<', pagination_path, title: t('pagination.first') %>
        <%= link_to '<', pagination_path(pagination.previous_page), title: t('pagination.prev') %>
    <% end %>

    <%= "#{pagination.page} / #{pagination.total_pages}" %>

    <% if pagination.next_page? %>
        <%= link_to '>', pagination_path(pagination.next_page), title: t('pagination.next') %>
        <%= link_to '>>', pagination_path(pagination.total_pages), title: t('pagination.last') %>
    <% end %>

    </div>
<% end %>
