<p><%= t('hello') %> <%= @user.name %></p>
<p><%= t('.explanation') %></p>
<p><strong><%= t('.click_required') %></strong></p>
<p><%= link_to t('.confirm'), account_email_verification_url(sid: @signed_id) %></p>
<hr>
<p><%= t('user_mailer.need_help') %></p>
