<% if Current.user.verified? %>
  <h1>Change your email</h1>
<% else %>
  <%= render "account/shared/verify" %>
<% end %>

<%= form_with(url: account_email_path, method: :patch) do |form| %>

  <%= render "account/shared/errors" %>

  <div>
    <%= form.label :email, "New email" %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :current_password %>
    <%= form.password_field :current_password, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= form.submit "Save changes" %>
  </div>
<% end %>
