<%= render "account/shared/menu" %>

<h1><%= t('title.emails.edit') %></h1>

<%= form_with(url: account_email_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.email_field :email, required: true %>
    <%= form.label :email, t('email.new') %>
  </div>

  <div class="field">
    <%= form.password_field :current_password, required: true, autocomplete: "current-password" %>
    <%= form.label :current_password, t('label.password_current') %>
  </div>

  <div>
    <%= form.submit t('button.save_changes'), class: 'btn-primary' %>
  </div>
<% end %>
