<h1><%= t('title.registrations.new') %></h1>

<%= form_with(url: sign_up_path) do |form| %>
  <div class="field">
    <%= form.text_field :name, value: @user.name, required: true, autocomplete: "name" %>
    <%= form.label :name, t('label.name') %>
  </div>

  <div class="field">
    <%= form.email_field :email, value: @user.email, required: true, autocomplete: "email" %>
    <%= form.label :email, t('label.email') %>
  </div>

  <div class="field">
    <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    <%= form.label :password, t('label.password') %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    <%= form.label :password_confirmation, t('label.password_confirmation') %>
  </div>

  <div>
    <%= form.submit t('button.sign_up'), class: 'btn-primary' %>
  </div>
<% end %>

<div>
  <%= link_to t('button.sign_in'), sign_in_path %> |
  <%= link_to t('notice.password.forgot'), new_account_password_reset_path %>
</div>

<%= render "account/shared/omniauth" %>
