<h1><%= t('title.password_resets.new') %></h1>

<%= form_with(url: account_password_reset_path, method: :patch) do |form| %>

  <%= form.hidden_field :sid, value: params[:sid] %>

  <div class="field">
    <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    <%= form.label :password, t('label.password_new') %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    <%= form.label :password_confirmation, t('label.password_confirmation') %>
  </div>

  <div>
    <%= form.submit t('button.save_changes'), class: 'btn-primary' %>
  </div>
<% end %>
