<h1><%= t('notice.password.forgot') %></h1>

<%= form_with(url: account_password_reset_path) do |form| %>
  <div>
    <%= form.label :email, t('label.email') %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.submit t('button.reset_password'), class: 'btn-primary' %>
  </div>
<% end %>
