<h1><%= t('notice.password.forgot') %></h1>

<%= form_with(url: account_password_reset_path) do |form| %>
  <div class="field">
    <%= form.email_field :email, required: true %>
    <%= form.label :email, t('label.email') %>
  </div>

  <div>
    <%= form.submit t('button.reset_password'), class: 'btn-primary' %>
  </div>
<% end %>

<div>
  <%= link_to t('button.sign_in'), sign_in_path %> |
  <%= link_to t('button.sign_up'), sign_up_path %>
</div>

<%= render "account/shared/omniauth" %>
