<%= render "account/shared/menu" %>

<h1><%= @document_title %></h1>

<%= form_with(url: account_path, method: :patch) do |form| %>
    <div class="field">
        <%= form.text_area @field_name, value: strip_tags(@field_value), rows: 10 %>
        <%= form.label @field_name, t("placeholder.#{@field_name}") %>
    </div>

    <div>
        <%= form.submit t('button.save_changes'), class: 'btn-primary' %>
    </div>
<% end %>
