<%= render "account/shared/menu" %>

<% unless @user.verified? %>
    <h2><%= t('email.verify') %></h2>
    <%= render "account/shared/verify" %>
<% end %>

<h1><%= t('hello') %> <%= @user.name %></h1>

<sub><%= t('account.details.last_seen') %>:
    <% if @user.last_seen == Date.today %>
        <%= t('date.today') %>
    <% else %>
        <%= time_ago_in_words @user.last_seen %> <%= t('date.ago') %>
    <% end %>
</sub>

<p><%=raw @user.about&.gsub "\n", '<br>' %></p>

<address><%=raw @user.address&.gsub "\n", '<br>' %></address>

<div>
    <%= button_to t('account.details.menu.delete_my_account'),
                    account_path,
                    method: :delete,
                    class: 'btn-secondary',
                    data: {
                        confirm: t('alert.confirm'),
                        turbo_confirm: t('alert.confirm')
                    } %>
</div>
