<% if Current.user.verified? %>
  <h1>Hello <%= Current.user.email %></h1>
<% else %>
  <h1>Verify your email</h1>
  <%= render "account/shared/verify" %>
<% end %>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_account_email_path %>
</div>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<div>
  <%= button_to "Log out", Current.session, method: :delete %>
</div>

<div>
  <%= button_to "Delete my account", account_detail_path, method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } %>
</div>
