<%= render "account/shared/menu" %>

<h1><%= t('title.passwords.edit') %></h1>

<%= render "account/shared/errors" %>

<%= form_with(url: password_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.password_field :current_password, required: true, autocomplete: "current-password" %>
    <%= form.label :current_password, t('label.password_current') %>
  </div>

  <div class="field">
    <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    <%= form.label :password, t('label.password_new') %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    <%= form.label :password_confirmation, t('label.password_confirmation') %>
  </div>

  <div>
    <%= form.submit t('button.save_changes'), class: 'btn-primary' %>
  </div>
<% end %>
