<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>

    <meta charset="UTF-8">
    <title><%= I18n.t "hello" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">

    <div class="site">

      <%= render "layouts/shared/header" %>

      <main>
        <div class="wrapper">
          <%= yield %>
        </div>
      </main>

      <%= render "layouts/shared/footer" %>

    </div>

  </body>
</html>
